{{> head }}


{{> navbar}}

    <div class="row no-gutters">
        <div class="col-8">
            <h1>Sobre nosotros </h1>
            <p>La calida de nuestro servicio es nuestra mejor publicidad</p>
        </div>
        <div class="col-4">
            <img src="assets/img/slider_4.jpg" alt="" class="img-thumbnail">
        </div>
    </div>

{{> footer }}